<div class="animated fadeIn">
        <div class="card">
          <div class="card-header" translate>timesheet.title</div>
          <div class="card-body">
            <div class="row text-center">
              <div class="col-md-4">
                <div class="btn-group">
                  <div class="btn btn-outline-secondary" (click)="decrement()" translate>
                    Previous
                  </div>
                  <div class="btn btn-primary" (click)="today()" translate>
                    calendar.today
                  </div>
                  <div class="btn btn-outline-secondary" (click)="increment()" translate>
                    Next
                  </div>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
              </div>
              <div class="col-md-4">
                <div class="btn-group float-right">
                  <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'" translate>calendar.month</div>
                  <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'" translate>calendar.week</div>
                </div>
              </div>
            </div>
            <br>
            <div [ngSwitch]="view">
              <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays"
                >
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [events]="events"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays"
                >
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [viewDate]="viewDate"
                [events]="events"
                [locale]="locale"
                >
              </mwl-calendar-day-view>
            </div>
          </div>
        </div>
      </div>
      