<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body text-center">
              <h1>Int3KLES</h1>
              <p class="text-muted">Intranet 3KLES</p>
              <div class="text-center">
                <img src="assets/img/logo.png">
                
              </div>
              <div class="text-center">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <button class="btn btn-primary px-4" type="submit">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>