<div class="card h-100">
    <div class="card-header">
        <i class="fa fa-edit"></i>
        <strong>Détail</strong>
    </div>
    <div class="card-body">
        <app-item-form (onItemFormChange)="onItemFormChange($event)" [itemForm]="itemForm" [modelname]="modelname" [mode]="mode" [item]="item"></app-item-form>
    </div>
    <div class="card-footer text-center">
        <app-validation-button (onAction)="onAction($event)" [formLink]="itemForm" [mode]="mode"></app-validation-button>
    </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>